.weather {
    border-radius: 4px;
    background: var(--neutral-color);
    text-align: center;
    box-shadow: 3px 3px 6px #555;
    margin: 10px;
}

.weatherheader {
    border-bottom: 2px solid var(--text-color-light);
    line-height: 35px;
}

.weather-week {
    display: flex;
}

.weather-week div {
    flex: 1;
}