.weather_day {
    border-right: 1px solid #eee;
}

.weather_day .temperatures {
    font-size: 1vw;
    margin: 1vh;
}

.wi {
    font-size: 2.25vw;
    margin: 2vh 0;
    color: var(--text-color);
}

.temphigh {
    color: var(--hot-color);
}

.templow {
    color: var(--cold-color);
}