.weather {
    margin-bottom: 20px;
    border-radius: 4px;
    background: var(--neutral-color);
    text-align: center;
}

.weatherheader {
    border-bottom: 2px solid var(--text-color-light);
    line-height: 35px;
}

.weather-week {
    display: flex;
}

.weather-week div {
    flex: 1;
}