.month {
    border-bottom: 2px solid var(--border-color);
    display: flex;
    text-align: center;
}

.currentMonth {
    width: 100%;
}

.prevMonthBtn, .nextMonthBtn {
    width: 30px;
    color: var(--main-color);
    font-size: 22px;
}

.daysOfTheWeek {
    display: flex;
    text-align: center;
    border-bottom: 2px solid var(--border-color);
}

.daysOfTheWeek-names {
    flex: 1;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Calendar */

.cell {
  position: relative;
  height: 5em;
  border-right: 1px solid var(--bg-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.row {
  border-bottom: 1px solid var(--bg-color);
}

.number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
}

.disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}