#navbar {
    height: 10vh;
    line-height: 10vh;
    color: black;
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 6px #555;
    text-align: center;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
}

#navbar ul li {
    flex: 1;
}