:root {
  --main-color: #428bca;
  --main-color-dark: #2e6ca1;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #ddd;
  --bg-color: #f7f7f7;
  --neutral-color: #fff;
}

* {
  box-sizing: border-box;
}

body, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

button {
  background: none;
  border: none;
}