:root {
  --main-color: #428BCA;
  --main-color-dark: #3071A9;
  --text-color-dark: #222;
  --text-color: #383838;
  --text-color-light: #CCC;
  --border-color: #EEE;
  --bg-color: #F7F7F7;
  --neutral-color: #FFF;
  --cold-color: #428BCA;
  --hot-color: 	#FF0800;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body, h3, h4, p, i {
  color: var(--text-color-dark);
}

body {
  background-color: #eee;
}

li {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}