.tasklist {
    flex: 1;
    height: 50vh;
    margin: 20px 10px;
    border-radius: 4px;
    background: #fff;
}

.taskform {
  text-align: center;
}

.taskform input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
    margin: 20px;
    border-radius: 10px;
    outline: none;
    text-align: left;
  }
    
.taskform button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #428bca;
    color: #FFF;
    border: 2px solid #428bca;
    border-radius: 10px;
    outline: none;
  }
  
.taskform button:hover {
    background-color: #2e6ca1;
    border: 2px solid #2e6ca1;
    cursor: pointer;
  }
  
.tasks {
    list-style: none;
    padding-left: 0;
    width: 250px;
  } 
  
.tasks li {
    color: black;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    list-style: none;
  }
  
  ul.tasks {
    padding: 0;
  }
  
.tasks li {
    color: black;
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
  }
    
.tasks li:hover {
    background-color: #428bca;
    cursor: pointer;
  }